<br>

<div class="row">

    <div class="col-sm-3 borde-derecho">
      <p class="h1 text-center">
          <i class="fa fa-5x fa-github"></i>
      </p>

      <h2>
          Nombre de usuario
      </h2>

      <p class="text-muted">
          username
      </p>

      <hr>

      <ul class="fa-ul">
          <li>
              <i class="fa-li fa fa-users"></i>
              <span>Dato</span>
          </li>
          <li>
              <i class="fa-li fa fa-map-marker"></i>
              <span>Dato</span>
          </li>
          <li>
              <i class="fa-li fa fa-clock-o"></i>
              <span>Dato</span>
          </li>
      </ul>

    </div>

    <div class="col-sm-9">

        <form class="form-horizontal">

          <div class="col-sm-10">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Github username">
          </div>

          <div class="col-sm-2">
              <button type="submit" class="btn btn-success btn-block">Buscar</button>
          </div>

        </form>

        <div class="clearfix"></div>
        <br>

        <div class="panel panel-result">
            <div class="panel-body">
                <div class="col-sm-10">
                    <a href="Javascript:void(0);">
                        <strong>
                            Título
                        </strong>
                    </a>
                    <p class="text-muted">
                        Subtítulo
                    </p>
                </div>
                <div class="col-sm-2">
                    <ul class="fa-ul text-muted">
                        <li>
                            <i class="fa-li fa fa-users"></i>
                            <span>Dato</span>
                        </li>
                        <li>
                            <i class="fa-li fa fa-map-marker"></i>
                            <span>Dato</span>
                        </li>
                        <li>
                            <i class="fa-li fa fa-clock-o"></i>
                            <span>Dato</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
